@require '~@theme/styles/variables'
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css?family=Pontano+Sans&display=swap')

.container
  margin 0 auto
  padding 0 1rem
  @media (min-width $MQWide)
    max-width (($MQWide + $MQNarrow) / 2)
  @media (min-width $MQNarrow) and (max-width $MQWide - 1px)
    max-width $MQNarrow
  @media (max-width $MQMobile - 1px)
    padding 0 0.5rem

.main-div
  padding 1.5rem
  background-color #ffffff
  border-radius 5px
  @media (max-width $MQMobile - 1px)
    padding 1rem
  &:not(:first-child)
    margin-top 1rem
  &:not(:last-child)
    margin-bottom 1rem
    @media (max-width $MQMobile - 1px)
      margin-bottom 0.5rem
  > :first-child
    margin-top 0

.yx-black-background
  background-color: #2A2A2A;
  color: white;

.clearfix
  &::after
    display block
    clear both
    content ''

.text-align-center
  text-align center

.auther-line
  text-align: center;
  border-right: dashed 3px #e0e0e0;
  border-left: dashed 3px #e0e0e0;
  height: 100%;
  width:100%;
  border-radius:2.5em;

.auther-box-shadow
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);

.main,
.side
  border-radius: 10px

.auther-grid
  display: grid;
  grid-template-columns: 1fr 2fr;

@media(max-width: 400px)
  .auther-grid
    grid-template-columns: 1fr;

.auther-main
  padding:1em;

.auther-icon
  border-radius:15px;
  position: relative;
  border: solid 3px #cfd8dc;

.auther-description
  line-height: 1.3em;
  color:#666666;
  font-family: 'M PLUS 1p', sans-serif;

.yx-page-auther
  border-bottom: solid 1px #1e88e5 ;
  width: 3.5em;

.yx-page-auther {
  border-bottom: solid 1px #1e88e5 ;
  width: 3.5em;
}
.balloon1 {
  position: relative;
  display: inline-block;
  margin: 0em 0em  1em 0em;
  padding: 5px 10px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  border-radius:25em;
}
.yx-background-color-discord
  background-color:#7289DA;
  border: solid 4px #7389DA;

.yx-background-color-archlinux
  background-color:#1793d1;
  border: solid 4px #1793d1;


.font-roboto,
.font1
  font-family: 'Pontano Sans', sans-serif;

#button
.button
  cursor: pointer;
  display: inline-block;
  padding: 0.25em 1.5em 0.25em 1.5em;
  color:white;
  border-radius:1em;
  transition:1s;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);

.button:hover
  display: inline-block;
  padding: 0.25em 1.5em 0.25em 1.5em;
  border-radius:1em;
  box-shadow: 0 10px 20px rgba(0,0,0,0.40);

.button-a-tag
  text-decoration: none !important;

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

abbr
  position: relative;
  &::after
    content: attr(title);
    position: absolute;
    bottom: 100%;
    left: 50%;
    display: inline-block;
    min-width: 200px;
    padding: 1em;
    background: #7fbfff;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    line-height: 1.4;
    transform: translateX(-25%);
    transition: .2s;
    opacity: 0;
    visibility: hidden;
  &:hover::before
    transition: .2s;
    position: relative;
    content: "";
    bottom: 150%;
    top: 100%;
    left: 5%;
    margin-left: -30px;
    border: 15px solid transparent;
    border-top: 15px solid #7fbfff;
  &:hover::after
    bottom: 150%;
    opacity: 1;
    visibility: visible;
