<div class="Last-Next">
    <% if(page.prev) { %>
        <a href="<%- url_for(page.prev.path) %>">
            <div class="last">
                <span>前の投稿</span>
                <p><%= page.prev.title %></p>
            </div>
        </a>
    <% } else { %>
        <div class="none-last">
            <span>前の投稿</span>
            <p>現在の記事が最新の記事です</p>
        </div>
    <% } %>

    <% if(page.next) { %>
        <a href="<%- url_for(page.next.path) %>">
            <div class="next">
                <span>次の投稿</span>
                <p><%= page.next.title %></p>
            </div>
        </a>
    <% } %>
</div>